<nav class="navbar navbar-light bg-light navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/"><img src="../../../assets/img/kick-starter.png" alt="KickStarter"></a>

        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#myNavbar"
                aria-expanded="false" aria-controls="myNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="myNavbar" class="navbar-collapse collapse">
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active discover" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'NAVBAR.DISCOVER' | translate }}</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item nav-link" routerLink="/fund-list">{{ 'NAVBAR.ALL' | translate }}</a>
                    <a *ngFor="let category of categories" class="dropdown-item nav-link" [routerLink]="['/fund-list', category.name]">{{category.displayName}}</a>
                </div>
            </div>
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li [@slideIn]="slideInState"  *ngIf="loggedIn" class="nav-item"><a class="nav-link" routerLink="/my-account">{{ 'NAVBAR.MY_ACCOUNT' | translate }}</a></li>
                <li [@slideIn]="slideInState"  *ngIf="loggedIn" class="nav-item"><a class="nav-link" routerLink="/my-funds">{{ 'NAVBAR.MY_FUNDS' | translate }}</a></li>
                <li [@slideIn]="slideInState"  *ngIf="loggedIn" class="nav-item"><a class="nav-link" routerLink="/new-fund">{{ 'NAVBAR.CREATE_FUND' | translate }}</a> </li>
                <li [@slideIn]="slideInState"  *ngIf="loggedIn" class="nav-item"><a class="nav-link" routerLink="/transfer-funds">{{ 'NAVBAR.TRANSFER_FUNDS' | translate }}</a></li>
                <li [@slideIn]="slideInState"  *ngIf="!loggedIn" class="nav-item"><a class="nav-link" routerLink="/registration">{{ 'NAVBAR.REGISTRATION' | translate }}</a></li>
                <li [@slideIn]="slideInState"  *ngIf="!loggedIn" class="nav-item"><a class="nav-link" routerLink="/login">{{ 'NAVBAR.LOGIN' | translate }}</a></li>
                <li [@slideIn]="slideInState"  *ngIf="loggedIn" class="nav-item"><a class="nav-link" (click)="logout()" routerLink="/">{{ 'NAVBAR.LOGOUT' | translate }}</a></li>
                <li [@slideIn]="slideInState" class="nav-item">
                    <select class="nav-link" #langSelect (change)="updateLanguage(langSelect.value);">
                        <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
                    </select>
                </li>
            </ul>
        </div>
    </div>
</nav>
<nav *ngIf="ratesShown && loggedIn"  class="navbar2 navbar-light bg-light navbar-expand-lg">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li id="own" class="nav-item">{{ 'NAVBAR.OWN_CURRENCY' | translate }}{{myCurrency}}</li>
        <li class="nav-item others" *ngFor="let rate of rates">= {{numberToString(rate.exchangeRate)}} {{rate.currencyName}}</li>
    </ul>
</nav>
<button [@slideIn]="slideInState"  class="btn" *ngIf="loggedIn" (click)="showRates()">{{ 'NAVBAR.RATES' | translate }}</button>

