<div class="container jumbotron">
    <h2>{{ 'MY_ACCOUNT.CHANGE_CURRENCY' | translate }}</h2>
    <div class="border-top mx-auto my-3"></div>
    <br>
    <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label" for="balance">{{ 'CHANGE_CURRENCY.BALANCE' | translate }}</label>
            <div class="col-sm-9">
                <input
                    class="form-control my-input-field-disabled"
                    name="balance"
                    id="balance"
                    placeholder="{{myAccount?.balance}}"
                    disabled
                /></div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-3 col-form-label"
                   for="my-oldCurrency">{{ 'CHANGE_CURRENCY.ACTUAL_CURRENCY' | translate }}</label>
            <div class="col-sm-9">
                <input
                    id="my-oldCurrency"
                    class="form-control my-input-field-disabled"
                    name="my-oldCurrency"
                    placeholder="{{myAccount?.currency}}"
                    disabled
                /></div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label"
                   for="new-currency"
                   [ngClass]="{'text-danger': (form.get('new-currency').invalid && form.get('new-currency').touched)
                   || (form.get('new-currency').errors?.serverError)}"
            >
                {{ 'CHANGE_CURRENCY.NEW_CURRENCY' | translate }}
            </label>
            <div class="col-sm-9">
                <select
                    id="new-currency"
                    class="form-control"
                    [ngClass]="{'is-invalid': (form.get('new-currency').invalid && form.get('new-currency').touched)
                    || (form.get('new-currency').errors?.serverError)}"
                    name="new-currency"
                    formControlName="new-currency"
                >
                    <option value=null selected disabled>{{ 'CHANGE_CURRENCY.SELECT_CURRENCY' | translate }}</option>
                    <option *ngFor="let c of currencies"
                            value="{{c.exchangeRate}}">{{c.currencyName}}</option>
                </select>
                <small
                    *ngIf="form.get('new-currency').invalid && form.get('new-currency').touched
                     && !form.get('new-currency').errors?.serverError"
                    class="text-danger"
                >
                    {{ 'CHANGE_CURRENCY.ERROR' | translate }}
                </small>
                <small *ngIf="form.get('new-currency').errors?.serverError" class="text-danger">
                    {{form.get('new-currency').errors['new-currency']}}
                </small>
            </div>
        </div>
        <br/>
        <button type="submit"
                class="btn btn-primary my-buttons">{{ 'CHANGE_CURRENCY.SUBMIT' | translate }}</button>
    </form>
</div>
