<div [@formAppear]="state" class="container jumbotron formAppear">
    <h2>{{ 'FUND.NEW_FUND' | translate }}</h2>
    <div class="border-top mx-auto my-3"></div>
    <br>
    <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="row mb-3">
            <label class="col-sm-3 col-form-label"
                   for="title"
                   [ngClass]="{'text-danger': (form.get('title').invalid && form.get('title').touched)
                            || (form.get('title').errors?.serverError)}"
            >
                {{ 'FUND.TITLE' | translate }}
            </label> <br>
            <div class="col-sm-9">
                <input
                    id="title"
                    class="form-control"
                    type="text"
                    [placeholder]="'FUND.TITLE_PLACEHOLDER' | translate"
                    minlength="5"
                    maxlength="100"
                    [ngClass]="{'is-invalid': (form.get('title').invalid && form.get('title').touched)
                            || (form.get('title').errors?.serverError)}"
                    name="title"
                    formControlName="title"
                />

                <small
                    *ngIf="!form.get('title').valid
                        && form.get('title').touched
                        && !form.get('title').errors?.serverError"
                    class="text-danger"
                >
                    {{ 'FUND.TITLE_ERROR' | translate }}
                </small>
                <small *ngIf="form.get('title').errors?.serverError" class="text-danger">
                    {{form.get('title').errors.serverError}}
                </small>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-3 col-form-label"
                   for="shortDescription"
                   [ngClass]="{'text-danger': (form.get('shortDescription').invalid && form.get('shortDescription').touched)
                            || (form.get('shortDescription').errors?.serverError)}"
            >
                {{ 'FUND.SHORT_DESCRIPTION' | translate }}
            </label><br>
            <div class="col-sm-9">
                <textarea
                    id="shortDescription"
                    class="form-control"
                    minlength="5"
                    maxlength="200"
                    rows="3"
                    style="min-height: 40px"
                    [placeholder]="'FUND.SHORT_DESCRIPTION_PLACEHOLDER' | translate"
                    [ngClass]="{'is-invalid': (form.get('shortDescription').invalid && form.get('shortDescription').touched)
                            || (form.get('shortDescription').errors?.serverError)}"
                    name="shortDescription"
                    formControlName="shortDescription"></textarea>
                <small
                    *ngIf="!form.get('shortDescription').valid
                        && form.get('shortDescription').touched
                        && !form.get('shortDescription').errors?.serverError"
                    class="text-danger"
                >
                    {{ 'FUND.SHORT_DESCRIPTION_ERROR' | translate }}
                </small>
                <small *ngIf="form.get('shortDescription').errors?.serverError" class="text-danger">
                    {{form.get('shortDescription').errors.serverError}}
                </small>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-3 col-form-label"
                   for="longDescription"
            >
                {{ 'FUND.LONG_DESCRIPTION' | translate }}
            </label><br>
            <div class="col-sm-9">
            <textarea
                id="longDescription"
                class="form-control"
                rows="8"
                cols="60"
                style="min-height: 40px"
                [placeholder]="'FUND.LONG_DESCRIPTION_PLACEHOLDER' | translate"
                name="longDescription"
                formControlName="longDescription"></textarea>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-3 col-form-label"
                   for="imageUrl"
            >
                {{ 'FUND.IMAGE_URL' | translate }}
            </label>
            <div class="col-sm-9">
                <input
                    id="imageUrl"
                    class="form-control"
                    [ngClass]="{'text-danger': (form.get('imageUrl').invalid && form.get('imageUrl').touched)
                            || (form.get('imageUrl').errors?.serverError)}"
                    type="text"
                    name="imageUrl"
                    formControlName="imageUrl"
                    [placeholder]="'FUND.IMAGE_URL_PLACEHOLDER' | translate"
                />
                <small
                    *ngIf="!form.get('imageUrl').valid
                        && form.get('imageUrl').touched
                        && !form.get('imageUrl').errors?.serverError"
                    class="text-danger"
                >
                    {{ 'FUND.IMAGE_URL_ERROR' | translate }}
                </small>
                <small *ngIf="form.get('imageUrl').errors?.serverError" class="text-danger">
                    {{form.get('imageUrl').errors.serverError}}
                </small>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-3 col-form-label"
                   for="category"
                   [ngClass]="{'text-danger': (form.get('category').invalid && form.get('category').touched) || (form.get('category').errors?.serverError)}"
            >
                {{ 'FUND.CATEGORY' | translate }}
            </label>
            <div class="col-sm-9">
                <select
                    id="category"
                    class="form-control"
                    [ngClass]="{'is-invalid': (form.get('category').invalid && form.get('category').touched) || (form.get('category').errors?.serverError)}"
                    name="category"
                    formControlName="category"
                >
                    <option value=null selected disabled>{{ 'FUND.CHOOSE_A_CATEGORY' | translate }}</option>
                    <option *ngFor="let category of categories"
                            value="{{category.name}}">{{category.displayName}}</option>
                </select>
                <small
                    *ngIf="form.get('category').invalid && form.get('category').touched && !form.get('category').errors?.serverError"
                    class="text-danger"
                >
                    {{ 'FUND.CATEGORY_ERROR' | translate }}
                </small>
                <small *ngIf="form.get('category').errors?.serverError" class="text-danger">
                    {{form.get('category').errors['serverError']}}
                </small>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-3 col-form-label"
                   for="targetAmount"
                   [ngClass]="{'text-danger': (form.get('targetAmount').invalid && form.get('targetAmount').touched) || (form.get('targetAmount').errors?.serverError)}"
            >
                {{ 'FUND.TARGET_AMOUNT' | translate }}
            </label>
            <div class="col-sm-9">
                <input
                    id="targetAmount"
                    type="number"
                    min="1"
                    class="form-control"
                    [ngClass]="{'is-invalid': (form.get('targetAmount').invalid && form.get('targetAmount').touched) || (form.get('targetAmount').errors?.serverError)}"
                    name="targetAmount"
                    formControlName="targetAmount"
                />
                <small
                    *ngIf="form.get('targetAmount').invalid && form.get('targetAmount').touched && !form.get('targetAmount').errors?.serverError"
                    class="text-danger"
                >
                    {{ 'FUND.TARGET_AMOUNT_ERROR' | translate }}
                </small>
                <small *ngIf="form.get('targetAmount').errors?.serverError" class="text-danger">
                    {{form.get('targetAmount').errors['serverError']}}
                </small>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-3 col-form-label"
                   for="endDate"
            >
                {{ 'FUND.END_DATE' | translate }}
            </label>
            <div class="col-sm-9">
                <input
                    id="endDate"
                    class="form-control"
                    type="date"
                    name="endDate"
                    formControlName="endDate"
                    [ngClass]="{'is-invalid': (form.get('endDate').errors?.serverError)}"
                />
                <small *ngIf="form.get('endDate').errors?.serverError" class="text-danger">
                    {{form.get('endDate').errors['serverError']}}
                </small>
            </div>
        </div>
        <br/>
        <button type="submit" class="btn btn-primary my-buttons">{{ 'FUND.SUBMIT' | translate }}</button>
    </form>
</div>
