<div [@formAppear]="state" class="container jumbotron formAppear">
    <h2>Registration</h2>
    <div class="border-top mx-auto my-3"></div>
    <br>
    <form [formGroup]="form" (ngSubmit)="register()">

        <div class="form-group">
            <label
                for="email"
                [ngClass]="{'text-danger': (form.get('email').invalid && form.get('email').touched)
                            || (form.get('email').errors?.serverError)}"
            >
                Email:
            </label>
            <input
                id="email"
                class="form-control"
                [ngClass]="{'is-invalid': (form.get('email').invalid && form.get('email').touched)
                            || (form.get('email').errors?.serverError)}"
                name="email"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                placeholder="example@mail.tld"
                formControlName="email"
            />

            <small
                *ngIf="!form.get('email').valid
                        && form.get('email').touched
                        && !form.get('email').errors?.serverError"
                class="text-danger"
            >
                Please enter a valid email address
            </small>
            <small *ngIf="form.get('email').errors?.serverError" class="text-danger">
                {{form.get('email').errors.serverError}}
            </small>
        </div>

        <div class="form-group">
            <label
                for="username"
                [ngClass]="{'text-danger': (form.get('username').invalid && form.get('username').touched)
                            || (form.get('username').errors?.serverError)}"
            >
                Nickname:
            </label>
            <input
                id="username"
                class="form-control"
                [ngClass]="{'is-invalid': (form.get('username').invalid && form.get('username').touched)
                            || (form.get('username').errors?.serverError)}"
                name="username"
                minlength="4"
                maxlength="20"
                formControlName="username"
            />
            <small
                *ngIf="!form.get('username').valid
                        && form.get('username').touched
                        && !form.get('username').errors?.serverError"
                class="text-danger"
            >
                Please enter a valid username (between 4 and 20 characters)
            </small>
            <small *ngIf="form.get('username').errors?.serverError" class="text-danger">
                {{form.get('username').errors.serverError}}
            </small>
        </div>

        <div class="form-group">
            <label
                for="password"
                [ngClass]="{'text-danger': (form.get('password').invalid && form.get('password').touched)
                            || (form.get('password').errors?.serverError)}"
            >
                Password:
            </label>
            <input
                id="password"
                type="password"
                class="form-control"
                [ngClass]="{'is-invalid': (form.get('password').invalid && form.get('password').touched)
                            || (form.get('password').errors?.serverError)}"
                name="password"
                minlength="5"
                maxlength="100"
                formControlName="password"
            />
            <small
                *ngIf="!form.get('password').valid && form.get('password').touched && !form.get('password').errors?.serverError"
                class="text-danger"
            >
                Please give a valid password!
            </small>
            <small *ngIf="form.get('password').errors?.serverError" class="text-danger">
                {{form.get('password').errors.serverError}}
            </small>
        </div>
        <div class="form-group">
            <label for="confirm">
                Confirm password:
            </label>
            <input id="confirm"
                type="password"
                class="form-control"
                name="confirm"
                minlength="5"
                maxlength="100"
                formControlName="confirm"
                   [ngClass]="{ 'is-invalid': submitted && f.confirm.errors }"/>
            <div *ngIf="submitted && f.confirm.errors" class="invalid-feedback">
                <div *ngIf="f.confirm.errors.required">Confirm Password is required</div>
                <div *ngIf="f.confirm.errors.mustMatch">Passwords must match</div>
            </div>
        </div>
        <br/>
        <button type="submit" class="btn btn-primary my-buttons">Register</button>
    </form>
</div>
