img {
    height:250px;
    object-fit:cover;
}
a{
    box-shadow: none!important;
}
h4 {
    font-weight: bold;
}
.border-top {
    border-top: 3px solid #fabe55 !important;
    width: 40% !important;
}
.fund {
    border: 1px solid #fabe55;
    border-radius: 15px;
    margin: 1rem;
    background: rgba(255, 255, 255, 0.5);
}
.notActive {
    background-color: lightgrey;
    opacity: 0.8;
}
