<div class="col-12 text-center mt-5">
    <h1 class="text-dark pt-4">{{ 'NAVBAR.MY_FUNDS' | translate }}</h1>
    <div class="border-top mx-auto my-3"></div>
</div>
<div class="container">
    <div class="row my-5">
        <div *ngFor="let fund of myFundList" class="col-md-4 my-4">
            <img [src]="fund.imageUrl" [alt]="'FUNDS.IMAGE' | translate" class="w-100">
            <h4 class="my-4">{{fund.title}}</h4>
            <p class="description">{{fund.shortDescription}}</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ 'FUNDS.CATEGORY' | translate }}{{fund.category}}</li>
                <li class="list-group-item">{{ 'FUNDS.AMOUNT' | translate: { amount: fund.raisedAmount, amountGoal: fund.targetAmount } }}</li>
                <li class="list-group-item">{{ 'FUNDS.END_DATE' | translate }}{{fund.endDate}}</li>
                <li class="list-group-item">{{ 'FUNDS.CREATOR' | translate }}{{fund.creatorName}}</li>
            </ul>
            <a class="btn btn-outline-warning btn-md" (click)="goToModify(fund.id)">{{ 'FUNDS.MODIFY' | translate }}</a>
<!--            <a [routerLink]="['/modify',fund.id]" class="btn btn-outline-warning btn-md" >Modify</a>-->
        </div>
    </div>

</div>


