<div [@slideUp]="state" class="col-12 text-center mt-5">
    <h1 class="text-dark pt-4">{{ 'NAVBAR.MY_FUNDS' | translate }}</h1>
    <div class="border-top mx-auto my-3"></div>
</div>
<div class="container">
    <div [@slideUp]="state" *ngFor="let fund of myFundList" class="row py-4 fund"
         [ngClass]="{'notActive': fund.status != 'ACTIVE'}">
        <div class="col-lg-4 mb-4 my-lg-auto">
            <img [src]="fund.imageUrl" [alt]="'FUNDS.IMAGE' | translate" class="w-100">
        </div>
        <div class="col-lg-8">
            <h4 class="my-4">{{fund.title}}</h4>
            <h4 class="my-4" *ngIf="fund.status === 'PASSIVE'" style="color:Tomato;">{{'FUNDS.PASSIVE' | translate}}</h4>
            <h4 class="my-4" *ngIf="fund.status === 'SUSPENDED'" style="color:Tomato;">{{'FUNDS.SUSPENDED' | translate}}</h4>
            <p class="description">{{fund.shortDescription}}</p>
            <h6>{{ 'FUNDS.CATEGORY' | translate }}{{fundService.getCategoryDisplayName(fund.category, categoryOptions)}}</h6>
            <h6>{{ 'FUNDS.AMOUNT' | translate: {
                amount: numberToString(fund.raisedAmount),
                amountGoal: numberToString(fund.targetAmount),
                currency: fund.currency
            } }}</h6>
            <div class="progress my-3">
                <div class="progress-bar" role="progressbar" [style.width]="fund.progress + '%'"
                     [attr.aria-valuenow]="fund.progress" aria-valuemin="0" aria-valuemax="100">{{fund.progress}}%
                </div>
            </div>
            <h6 *ngIf="fund.endDate != null">{{ 'FUNDS.END_DATE' | translate }}{{fund.endDate}}</h6>
            <span class="btn-group">
            <a *ngIf="fund.status === 'ACTIVE'" [routerLink]="['/my-funds-details',fund.id]"
               class="btn btn-outline-warning btn-md">{{ 'FUNDS.READ_MORE' | translate }}</a>
            <a *ngIf="fund.status!= 'ACTIVE'"   [routerLink]="['/my-funds-details',fund.id]"
               class="btn btn-warning btn-md">{{ 'FUNDS.READ_MORE' | translate }}</a>
            <a *ngIf="fund.status=== 'ACTIVE'" [routerLink]="['/modify',fund.id]"
               class="btn btn-outline-info btn-md">{{ 'FUND.MODIFY_FUND' | translate }}</a>
            <a *ngIf="fund.status!= 'ACTIVE'" [routerLink]="['/modify',fund.id]"
               class="btn btn-info btn-md">{{ 'FUND.MODIFY_FUND' | translate }}</a>
            </span>
        </div>
    </div>
</div>


