<div [@formAppear]="state" class="container jumbotron transfer-page">
    <h2>{{ 'CONFIRMATION.CONFIRM_TRANSFER' | translate }}</h2>
    <div class="border-top mx-auto my-3"></div>
    <br/>
    <p *ngIf="!urlCode && !confirmed">{{ 'CONFIRMATION.CODE_SENT' | translate }}</p>

    <p class="text-success" *ngIf="confirmed">{{ 'CONFIRMATION.CONFIRMED' | translate }}</p>

    <p class="transfer-error" *ngIf="urlCode && !confirmed">{{ 'CONFIRMATION.LINK_ERROR' | translate }}</p>

    <form *ngIf="!urlCode && !confirmed" [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="form-group">
            <label
                for="confirmationCode"
                [ngClass]="{'text-danger': (form.get('confirmationCode').invalid && form.get('confirmationCode').touched) || (form.get('confirmationCode').errors?.serverError)}"
            >
                {{ 'CONFIRMATION.CONFIRMATION_CODE' | translate }}
            </label>
            <input
                id="confirmationCode"
                type="text"
                class="form-control"
                [ngClass]="{'is-invalid': (form.get('confirmationCode').invalid && form.get('confirmationCode').touched) || (form.get('confirmationCode').errors?.serverError)}"
                name="confirmationCode"
                formControlName="confirmationCode"
            />
            <small
                *ngIf="form.get('confirmationCode').invalid && form.get('confirmationCode').touched && !form.get('confirmationCode').errors?.serverError"
                class="text-danger"
            >
                {{ 'CONFIRMATION.EMPTY_FIELD_ERROR' | translate }}
            </small>
            <small *ngIf="form.get('confirmationCode').errors?.serverError" class="text-danger">
                {{form.get('confirmationCode').errors['serverError']}}
            </small>
        </div>
        <br/>
        <button class="btn btn-primary my-buttons">{{ 'CONFIRMATION.SEND' | translate }}</button>
    </form>
</div>
