<div [@formAppear]="state" class="container jumbotron formAppear">
    <h2>{{ 'NAVBAR.LOGIN' | translate }}</h2>
    <div class="border-top mx-auto my-3"></div>
    <br>
    <form [formGroup]="form" (ngSubmit)="login()">

        <div class="form-group">
            <label
                for="email"
                [ngClass]="{'text-danger': (form.get('email').invalid && form.get('email').touched)
                            || (form.get('email').errors?.serverError)}"
            >
                {{ 'LOGIN.EMAIL' | translate }}
            </label>
            <input
                id="email"
                class="form-control"
                [ngClass]="{'is-invalid': (form.get('email').invalid && form.get('email').touched)
                            || (form.get('email').errors?.serverError)}"
                name="email"
                formControlName="email"
            />

            <small
                *ngIf="!form.get('email').valid
                        && form.get('email').touched
                        && !form.get('email').errors?.serverError"
                class="text-danger"
            >
                {{ 'LOGIN.EMAIL_ERROR' | translate }}
            </small>
            <small *ngIf="form.get('email').errors?.serverError" class="text-danger">
                {{form.get('email').errors.serverError}}
            </small>
        </div>

        <div class="form-group">
            <label
                for="password"
                [ngClass]="{'text-danger': (form.get('password').invalid && form.get('password').touched)
                            || (form.get('password').errors?.serverError)}"
            >
                {{ 'LOGIN.PASSWORD' | translate }}
            </label>
            <input
                id="password"
                type="password"
                class="form-control"
                [ngClass]="{'is-invalid': (form.get('password').invalid && form.get('password').touched)
                            || (form.get('password').errors?.serverError)}"
                name="password"
                formControlName="password"
            />
            <small
                *ngIf="!form.get('password').valid && form.get('password').touched && !form.get('password').errors?.serverError"
                class="text-danger"
            >
                {{ 'LOGIN.PASSWORD_ERROR' | translate }}
            </small>
            <small *ngIf="form.get('password').errors?.serverError" class="text-danger">
                {{form.get('password').errors.serverError}}
            </small>
        </div>
        <br/>
        <button type="submit" class="btn btn-primary my-buttons">{{ 'LOGIN.LOGIN' | translate }}</button>
        <div class="under border-top mx-auto my-5"></div>
        <div align="center">
            <h6>{{ 'LOGIN.NOT_REGISTERED' | translate }}</h6>
            <a class="nav-link" routerLink="/registration">{{ 'LOGIN.SIGN_UP' | translate }}</a>
        </div>
    </form>
</div>
