<h2>Accounts</h2>
<hr/>
<br/>
<div class="container">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Goal</th>
            <th>Username</th>
            <th>Remaining balance</th>
            <th>Funds raised</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let account of accounts">
                <td>{{account.goal}}</td>
                <td>{{account.username}}</td>
                <td>{{account.balance}}</td>
                <td>{{account.funds}}</td>
            </tr>
        </tbody>
    </table>
</div>
<br/><br/><br/>
<h2>All Transfers</h2>
<hr/>
<br/>
<div class="container">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th class="column-from">From</th>
            <th class="column-to">To</th>
            <th class="column-amount">Amount</th>
            <th class="column-date">Date</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transfer of transfers">
                <td>{{transfer.source}}</td>
                <td>{{transfer.target}}</td>
                <td>{{transfer.amount}}</td>
                <td>{{transfer.timeStamp}}</td>
            </tr>
        </tbody>
    </table>
</div>
