<div class="top-bar">
    <div class="container-xxl">
        <div class="col-12 text-right">
            <p><a tabindex="1" href="https://progmasters.hu" target="_blank">{{ 'DISCLAIMER' | translate }}</a></p>
        </div>
    </div>
</div>
<div>
    <app-navbar></app-navbar>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>
<div *ngIf="pageYOffset > 0" class="scroll-to-top my-5">
    <button (click)="scrollToTop()" class="btn btn-primary scroll" >
        Up
    </button>
</div>
