@import '../node_modules/@syncfusion/ej2-material-theme/styles/material.css';
/* You can add global styles to this file, and also import other style files */
app-root {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    color: #616371;
    background: #3cacca;
}

.row, .container-fluid {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
body {
    background: linear-gradient(to bottom right,rgba(247, 174, 47, 0.3),rgba(60, 172, 202, 0.3));
}
