<div class="container my-5">
    <h1 class="text-dark font-weight-bold mb-3">{{fund.title}}</h1>
    <div class="border-top mx-auto my-3"></div>
    <div class="row py-4">
        <div class="col-lg-5 mb-4 my-lg-auto jumbotron">
            <h4 [ngClass]="{'green': fund.category.name === 'MEDICAL',
                            'purple': fund.category.name === 'EDUCATION',
                            'red': fund.category.name === 'EMERGENCY',
                            'blue': fund.category.name === 'NONPROFIT' }">
                {{ 'DETAILS.CATEGORY' | translate }}{{fund.category.displayName}}
            </h4>
            <h4>{{ 'DETAILS.GOAL_AMOUNT' | translate: {
                targetAmount: numberToString(fund.targetAmount),
                currency: fund.currency
            } }}</h4>
            <h5>{{ 'DETAILS.RAISED_AMOUNT' | translate: {
                raisedAmount: numberToString(fund.raisedAmount),
                currency: fund.currency
            } }}</h5>
            <h5>{{ 'DETAILS.NUMBER_OF_BACKERS' | translate }}{{fund.numberOfBackers}}</h5>
            <h5 *ngIf="fund.endDate != null">{{ 'DETAILS.EXPIRATION_DATE' | translate }}{{fund.endDate}}</h5>
            <div *ngIf="lastWeekDonation != 0" class="my-3" style="display: inline-block;text-align: center;">
        <span style="display: block">
            {{ 'DETAILS.BARCHART_TITLE' | translate }}
        </span>
                <ngx-charts-bar-vertical
                    [view]="view"
                    [scheme]="colorScheme"
                    [results]="barChartData"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel">
                </ngx-charts-bar-vertical>
            </div>
            <div *ngIf="fund.raisedAmount != 0" class="my-3" style="display: inline-block;text-align: center;">
        <span style="display: block">
            {{ 'DETAILS.LINECHART_TITLE' | translate }}
        </span>
                <ngx-charts-line-chart
                    [view]="view"
                    [scheme]="colorScheme"
                    [legend]="legend"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxis]="xAxis"
                    [yAxis]="yAxis"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    [timeline]="timeline"
                    [results]="lineChartData"
                >
                </ngx-charts-line-chart>
            </div>
            <h4 class="my-4 be-first" *ngIf="fund.raisedAmount == 0">{{ 'DETAILS.FIRST' | translate }}</h4>
            <span class="btn-group">
            <button type="button" class="btn btn-primary btn-lg my-4"
                    [routerLink]="['/fund-list']">{{'DETAILS.BACK' | translate}}</button>
            <button type="button" class="btn btn-danger btn-lg my-4"
                    [routerLink]="['/transfer-funds', id]">{{'DETAILS.FUND_THIS_PROJECT' | translate}}</button>
            </span>
            <span class="btn-group">
            <button type="button" class="btn btn-secondary btn-sm my-4"
                    (click)="getPdf()">{{'DETAILS.DOWNLOAD_PDF' | translate}}</button>
            </span>
        </div>
        <div class="col-lg-7">
            <img class="w-100" [src]="fund.imageUrl" alt="Fundraiser image">
            <div [innerHTML]="fund.longDescription | safeHtml"></div>
        </div>

    </div>
</div>
