<div class="main-div">
    <h1 class="title">{{fund.title}}</h1>
    <div class="image">
        <img class="image" [src]="fund.imageUrl" alt="funraiser image">
    </div><br>
    <div class="description-text">
        <h3>{{ 'DETAILS.CATEGORY' | translate }}{{fund.category}}</h3>
        <p>{{fund.longDescription}} </p>
    </div>
    <div class="fund-info">
        <div><h3 class="raised-money">{{fund.raisedAmount.toFixed(2)}} {{fund.currency}}</h3>
            <h6>{{ 'DETAILS.AMOUNT' | translate: {targetAmount: fund.targetAmount.toFixed(2), currency: fund.currency} }}</h6></div>
        <div>
            <h6>{{ 'DETAILS.NUMBER_OF_BACKERS' | translate }}{{fund.numberOfBackers}}</h6>
            <h6>{{ 'DETAILS.EXPIRATION_DATE' | translate }}{{fund.endDate}}</h6>
        </div>

        <button type="button" class="btn btn-success btn-lg" [routerLink]="['/transfer-funds', id]">{{'DETAILS.FUND_THIS_PROJECT' | translate}}</button>
    </div>
    <br/>
    <div style="display: inline-block;text-align: center;">
        <span style="display: block">
            {{ 'DETAILS.BARCHART_TITLE' | translate }}
        </span>
        <ngx-charts-bar-vertical
            [view]="view"
            [scheme]="colorScheme"
            [results]="barChartData"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel">
        </ngx-charts-bar-vertical>
    </div>
    <div style="display: inline-block;text-align: center;">
        <span style="display: block">
            {{ 'DETAILS.LINECHART_TITLE' | translate }}
        </span>
        <ngx-charts-line-chart
            [view]="view"
            [scheme]="colorScheme"
            [legend]="legend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [timeline]="timeline"
            [results]="lineChartData"
        >
        </ngx-charts-line-chart>
    </div>
</div>
