<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Confirmation email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p style="background-color:DodgerBlue;font-size:30px;font-weight:bold;">
    PROGmasters Fundraiser
</p>
<p>
    A transfer was initiated from you account. Your confirmation code is <b th:text="${confirmationCode}"></b>. If you really want to support "<span th:text="${goalName}"></span>" with <span th:text="${amount}"></span>, please type this code on the confirmation page or <a th:href="${confirmationLink}">click here</a>.
</p>
</body>
</html>
