<div [@formAppear]="state" class="container jumbotron formAppear">
    <h2>{{ 'FUND.MODIFY_FUND' | translate }}</h2>
    <div class="border-top mx-auto my-3"></div>
    <br>
    <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label"
                   for="title"
            >
                {{ 'FUND.TITLE' | translate }}
            </label> <br>
            <div class="col-sm-9">
                <input
                    id="title"
                    class="form-control"
                    type="text"
                    minlength="5"
                    maxlength="100"
                    name="title"
                    formControlName="title"
                    disabled
                />
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-3 col-form-label"
                   for="shortDescription"
                   [ngClass]="{'text-danger': (form.get('shortDescription').invalid && form.get('shortDescription').touched)
                            || (form.get('shortDescription').errors?.serverError)}"
            >
                {{ 'FUND.SHORT_DESCRIPTION' | translate }}
            </label><br>
            <div class="col-sm-9">
                <textarea
                    id="shortDescription"
                    class="form-control"
                    minlength="5"
                    maxlength="200"
                    rows="3"
                    style="min-height: 40px"
                    [placeholder]="'FUND.SHORT_DESCRIPTION_PLACEHOLDER' | translate"
                    [ngClass]="{'is-invalid': (form.get('shortDescription').invalid && form.get('shortDescription').touched)
                            || (form.get('shortDescription').errors?.serverError)}"
                    name="shortDescription"
                    (change)="reduceSpacesInShortDescription()"
                    formControlName="shortDescription"></textarea>
                <small
                    *ngIf="form.get('shortDescription').invalid
                        && form.get('shortDescription').touched
                        && !form.get('shortDescription').errors?.serverError"
                    class="text-danger"
                >
                    {{ 'FUND.SHORT_DESCRIPTION_ERROR' | translate }}
                </small>
                <small *ngIf="form.get('shortDescription').errors?.serverError" class="text-danger">
                    {{form.get('shortDescription').errors.serverError}}
                </small>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-3 col-form-label"
                   for="longDescription"
            >
                {{ 'FUND.LONG_DESCRIPTION' | translate }}
            </label><br>
            <div class="col-sm-9">
                <ejs-richtexteditor
                    id="longDescription"
                    class="form-control"
                    style="min-height: 40px"
                    [placeholder]="'FUND.LONG_DESCRIPTION_PLACEHOLDER' | translate"
                    formControlName="longDescription"
                    [toolbarSettings]='tools'>
                </ejs-richtexteditor>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-3 col-form-label"
                   for="category"
            >
                {{ 'FUND.CATEGORY' | translate }}
            </label>
            <div class="col-sm-9">
                <input
                    id="category"
                    class="form-control"
                    type="text"
                    name="category"
                    formControlName="category"
                    disabled
                />
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-3 col-form-label"
                   for="targetAmount"
                   [ngClass]="{'text-danger': (form.get('targetAmount').invalid && form.get('targetAmount').touched) || (form.get('targetAmount').errors?.serverError)}"
            >
                {{ 'FUND.TARGET_AMOUNT' | translate }}
            </label>
            <div class="col-sm-9">
                <div class="row mb-3">
                    <div class="col-sm-9">
                        <input
                            id="targetAmount"
                            type="number"
                            min="1"
                            class="form-control"
                            [ngClass]="{'is-invalid': (form.get('targetAmount').invalid && form.get('targetAmount').touched) || (form.get('targetAmount').errors?.serverError)}"
                            name="targetAmount"
                            formControlName="targetAmount"
                        />
                        <small
                            *ngIf="form.get('targetAmount').invalid && form.get('targetAmount').touched && !form.get('targetAmount').errors?.serverError"
                            class="text-danger"
                        >
                            {{ 'FUND.TARGET_AMOUNT_ERROR' | translate }}
                        </small>
                        <small *ngIf="form.get('targetAmount').errors?.serverError" class="text-danger">
                            {{form.get('targetAmount').errors['serverError']}}
                        </small>
                    </div>
                    <div class="col-sm-3">
                        <input
                            id="myCurrency"
                            class="form-control my-input-field-disabled"
                            name="myCurrency"
                            disabled
                            formControlName="currency"
                        />
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-3 col-form-label"
                   for="endDate"
            >
                {{ 'FUND.END_DATE' | translate }}
            </label>
            <div class="col-sm-9">
                <input
                    id="endDate"
                    class="form-control"
                    type="date"
                    name="endDate"
                    formControlName="endDate"
                    [ngClass]="{'is-invalid': (form.get('endDate').errors?.serverError)}"
                />
                <small *ngIf="form.get('endDate').errors?.serverError" class="text-danger">
                    {{form.get('endDate').errors['serverError']}}
                </small>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-3 col-form-label"
                   for="status"
                   [ngClass]="{'text-danger': (form.get('status').invalid && form.get('status').touched) ||
                   (form.get('status').errors?.serverError)}"
            >
                {{ 'FUND.STATUS' | translate }}
            </label>
            <div class="col-sm-9">
                <select
                    id="status"
                    class="form-control"
                    [ngClass]="{'is-invalid': (form.get('status').invalid && form.get('status').touched) ||
                    (form.get('status').errors?.serverError)}"
                    name="status"
                    formControlName="status"
                >
                    <option *ngFor="let status of formData?.statusOptions"
                            value="{{status.name}}">{{status.displayName}}</option>
                </select>
                <small
                    *ngIf="form.get('status').invalid && form.get('status').touched &&
                    !form.get('status').errors?.serverError"
                    class="text-danger"
                >
                    {{ 'STATUS.CATEGORY_ERROR' | translate }}
                </small>
                <small *ngIf="form.get('status').errors?.serverError" class="text-danger">
                    {{form.get('status').errors['serverError']}}
                </small>
            </div>
        </div>

        <br/>
        <button type="submit" class="btn btn-primary my-buttons">{{ 'FUND.SAVE' | translate }}</button>
    </form>
</div>
