img {
    height:200px;
    object-fit:cover;
    display: block;
    border-radius: 15px;
}
a{
    box-shadow: none!important;
}
.border-top {
    border-top: 3px solid #fabe55 !important;
    width: 40% !important;
}
.dropdown-item {
    cursor: pointer;
}
#progress {
    width: 100%;
}
h5 {
    color: #3cacca;
}
h6 {
    color: #f7ae2f;
    text-align: left!important;
}
.short-description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.funds {
    box-shadow: 1px 4px 4px 0 rgba(30,30,30, 0.2);
    border-radius: 15px;
}
.fund-amount {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
