<div class="col-12 text-center mt-5">
    <h1 *ngIf="totalItems > 0" class="text-dark pt-4">{{ 'FUNDS.BROWSE_FUNDRAISERS' | translate }}</h1>
    <h1 *ngIf="totalItems == 0" class="text-danger pt-4">{{ 'FUNDS.NO_FUNDS' | translate }}</h1>
    <div class="border-top mx-auto my-3"></div>
</div>
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
        {{ 'FUNDS.SORT_BY' | translate}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
<!--        <a class="dropdown-item" (click)="sortByRaisedFundsDesc()">{{ 'FUNDS.SORT_RAISED_FUNDS' | translate}}</a>-->
        <a class="dropdown-item" (click)="sortByExpirationDateAsc()">{{ 'FUNDS.SORT_END_DATE' | translate}}</a>
        <a class="dropdown-item" (click)="sortByIdDesc()">{{ 'FUNDS.SORT_ID_DESC' | translate}}</a>
        <a class="dropdown-item" (click)="sortByCreatorName()">{{ 'FUNDS.SORT_CREATOR' | translate}}</a>
    </div>
</div>
<div class="container">
    <div class="row my-5">
        <div [@slideUp]="state" *ngFor="let fund of fundList
         | paginate: {id: 'pagination', itemsPerPage: 6, currentPage: page, totalItems: totalItems}"
             class="col-md-4 my-4 funds">
            <img [src]="fund.imageUrl" [alt]="'FUNDS.IMAGE' | translate" class="card-img-top">
            <div class="my-md-3">
                <h5 class="card-title">{{fund.title}}</h5>
                <h6 class="card-subtitle mb-2 ">{{ 'FUNDS.CREATOR' | translate }}{{fund.creatorName}}</h6>
                <p class="my-1 short-description">{{fund.shortDescription}}</p>
                <p class="my-1">{{ 'FUNDS.CATEGORY' | translate }}<strong>{{fund.category}}</strong></p>
                <p class="card-text">{{ 'FUNDS.END_DATE' | translate }}{{fund.endDate}}</p>
                <p class="my-1 fund-amount">{{ 'FUNDS.AMOUNT' | translate: {
                    amount: numberToString(fund.raisedAmount),
                    currency: fund.currency,
                    amountGoal: numberToString(fund.targetAmount)
                } }}
                </p>
                <div class="progress my-3">
                    <div class="progress-bar" role="progressbar" [style.width]="fund.progress + '%'"
                         [attr.aria-valuenow]="fund.progress" aria-valuemin="0" aria-valuemax="100">{{fund.progress}}%
                    </div>
                </div>
                <div align="center"><a [routerLink]="['/fund-details',fund.id]"
                                       class="btn btn-outline-warning btn-md">{{ 'FUNDS.READ_MORE' | translate }}</a>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="totalItems > 0" class=" text-center mb-4">
        <pagination-controls id="pagination"
                             maxSize="5"
                             directionLinks="true"
                             (pageChange)="pageChanged($event)"
                             autoHide="true"
                             [previousLabel]=" 'FUNDS.PREVIOUS' | translate"
                             [nextLabel]=" 'FUNDS.NEXT' | translate">
        </pagination-controls>
    </div>
</div>
