
a{
    box-shadow: none!important;
}
.border-top {
    border-top: 3px solid #fabe55 !important;
    width: 40% !important;
}
.dropdown-item {
    cursor: pointer;
}
#progress {
    width: 100%;
}
h5 {
    color: #3cacca;
}
h6 {
    color: #f7ae2f;
    text-align: left!important;
}
