<div [@formAppear]="state" class="container jumbotron formAppear">
    <h2>{{ 'TRANSFER.TRANSFER_FUNDS' | translate }}</h2>
    <div class="border-top mx-auto my-3"></div>
    <br>
    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="form-group">
            <label
                for="to"
                [ngClass]="{'text-danger': (form.get('targetFundId').invalid && form.get('targetFundId').touched) || (form.get('targetFundId').errors?.serverError)}"
            >
                {{ 'TRANSFER.TO' | translate }}
            </label>
            <select

                id="to"
                class="form-control"
                [ngClass]="{'is-invalid': (form.get('targetFundId').invalid && form.get('targetFundId').touched) || (form.get('targetFundId').errors?.serverError)}"
                name="targetFundId"
                formControlName="targetFundId"
            >
                <option  *ngIf="!showOnlyOneOption" value=null selected disabled>{{ 'TRANSFER.CHOOSE_A_GOAL' | translate }}</option>
                <option *ngFor="let fund of transferFormInitDataModel?.targetFundOptions"
                        value="{{fund.id}}">{{fund.title}}</option>
            </select>

            <small
                *ngIf="form.get('targetFundId').invalid && form.get('targetFundId').touched && !form.get('targetFundId').errors?.serverError"
                class="text-danger"
            >
                {{ 'TRANSFER.TO_ERROR' | translate }}
            </small>
            <small *ngIf="form.get('targetFundId').errors?.serverError" class="text-danger">
                {{form.get('targetFundId').errors['serverError']}}
            </small>
        </div>

        <div class="form-group">
            <label
                for="amount"
                [ngClass]="{'text-danger': (form.get('amount').invalid && form.get('amount').touched) || (form.get('amount').errors?.serverError)}"
            >
                {{ 'TRANSFER.AMOUNT' | translate }}
            </label>
            <input
                id="amount"
                min="0"
                type="number"
                class="form-control"
                [ngClass]="{'is-invalid': (form.get('amount').invalid && form.get('amount').touched) || (form.get('amount').errors?.serverError)}"
                name="amount"
                formControlName="amount"
            />
            <small
                *ngIf="form.get('amount').invalid && form.get('amount').touched && !form.get('amount').errors?.serverError"
                class="text-danger"
            >
                {{ 'TRANSFER.AMOUNT_ERROR' | translate }}
            </small>
            <small *ngIf="form.get('amount').errors?.serverError" class="text-danger">
                {{form.get('amount').errors['serverError']}}
            </small>
        </div>
        <div>
            <div class="form-group">
                <label for="balance">{{ 'TRANSFER.MY_BALANCE' | translate }}</label>
                <input
                    id="balance"
                    class="form-control my-input-field-disabled"
                    name="balance"
                    placeholder="{{transferFormInitDataModel?.balance}}"
                    disabled
                />
            </div>
        </div>
        <br/>
        <button class="btn btn-primary my-buttons">{{ 'TRANSFER.TRANSFER' | translate }}</button>
    </form>
</div>
