<div [@formAppear]="state" class="container jumbotron formAppear">
    <h2>Transfer Funds</h2>
    <div class="border-top mx-auto my-3"></div>
    <br>
    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="form-group">
            <label
                for="to"
                [ngClass]="{'text-danger': (form.get('targetFundId').invalid && form.get('targetFundId').touched) || (form.get('targetFundId').errors?.serverError)}"
            >
                To:
            </label>
            <select
                id="to"
                class="form-control"
                [ngClass]="{'is-invalid': (form.get('targetFundId').invalid && form.get('targetFundId').touched) || (form.get('targetFundId').errors?.serverError)}"
                name="targetFundId"
                formControlName="targetFundId"
            >
                <option value=null selected disabled>-- Choose a goal to support --</option>
                <option *ngFor="let fund of transferFormInitDataModel?.targetFundOptions"
                        value="{{fund.id}}">{{fund.title}}</option>
            </select>
            <small
                *ngIf="form.get('targetFundId').invalid && form.get('targetFundId').touched && !form.get('targetFundId').errors?.serverError"
                class="text-danger"
            >
                Please choose an account to send money to
            </small>
            <small *ngIf="form.get('targetFundId').errors?.serverError" class="text-danger">
                {{form.get('targetFundId').errors['serverError']}}
            </small>
        </div>

        <div class="form-group">
            <label
                for="amount"
                [ngClass]="{'text-danger': (form.get('amount').invalid && form.get('amount').touched) || (form.get('amount').errors?.serverError)}"
            >
                Amount:
            </label>
            <input
                id="amount"
                min="50"
                max="1000"
                type="number"
                class="form-control"
                [ngClass]="{'is-invalid': (form.get('amount').invalid && form.get('amount').touched) || (form.get('amount').errors?.serverError)}"
                name="amount"
                formControlName="amount"
            />
            <small
                *ngIf="form.get('amount').invalid && form.get('amount').touched && !form.get('amount').errors?.serverError"
                class="text-danger"
            >
                Please choose an amount between 50 and 1000
            </small>
            <small *ngIf="form.get('amount').errors?.serverError" class="text-danger">
                {{form.get('amount').errors['serverError']}}
            </small>
        </div>
        <div>
            <div class="form-group">
                <label for="balance">My Balance:</label>
                <input
                    id="balance"
                    class="form-control my-input-field-disabled"
                    name="balance"
                    placeholder="{{transferFormInitDataModel.balance}}"
                    disabled
                />
            </div>
        </div>
        <br/>
        <button class="btn btn-primary my-buttons">Transfer</button>
    </form>
</div>
