<div class="container">
    <h2>My Account</h2>
    <hr/>
    <div class="form-group">
        <label for="username" class="input-label">User Name:</label>
        <input
            id="username"
            class="form-control my-input-field-disabled"
            name="username"
            placeholder="{{accountDetails.username}}"
            disabled
        />
    </div>
    <div class="form-group">
        <label for="goal">Goal:</label>
        <input
            id="goal"
            class="form-control my-input-field-disabled"
            name="goal"
            placeholder="{{accountDetails.goal}}"
            disabled
        />
    </div>
    <div class="form-group">
        <label for="balance">Balance:</label>
        <input
            id="balance"
            class="form-control my-input-field-disabled"
            name="balance"
            placeholder="{{accountDetails.balance}}"
            disabled
        />
    </div>
    <div class="form-group">
        <label for="funds">Funds Raised:</label>
        <input
            id="funds"
            class="form-control my-input-field-disabled"
            name="funds"
            placeholder="{{accountDetails.funds}}"
            disabled
        />
    </div>
</div>
